@import "../Vars.scss";
@import "../Media.scss";

#task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid #cbcbcb;
  padding-right: 51px;

  & .task__list-container {
    display: flex;
    align-items: center;
  }

  & .task__radio {
    width: 23px;
    height: 23px;
    margin-right: 16px;
    border-radius: 50%;
    box-shadow: 0 7px 11px -6px rgba(23, 28, 52, 0.23), 0 -6px 9px 0 rgba(255, 255, 255, 0.39),
      0 2px 4px 0 rgba(0, 0, 0, 0.07), inset 0 1px 5px 0 rgba(0, 0, 0, 0.08);
    border: solid 1px #cccccc;
    background-color: #ededed;
  }

  & .task__text {
    font-size: 17px;
    font-weight: normal;
    letter-spacing: normal;
    color: #393943;
  }

  & .task__icon-delete {
    width: 11px;
    height: 13px;
    cursor: pointer;
  }
}
